FORMAT: 1A
HOST: https://api.soccersapi.com/v2.2/

# Soccer's API Documentation

SoccersAPI is a RESTful service for soccer data sport. It is a PAID service with low price (started with $30 per month). Note that in order to access Soccer's API you must purchase related packages. Please contact us if you have any problem.

## API Versions  

       API : Soccers' API  
       API Version : v 2.2  
       API Contents : Football  

## Authentication

To authorize, use this code: 
Make sure replace YOUR TOKEN with your real token. You can generate them in your user dashboard once you hire a Soccer's API plan.
curl "ENDPOINT?user=YOURUSER&token=YOURTOKEN".

## Pagination

To reduce response time in JSON delivery, some Enpoints are paginated.
add the GET parameter page=NUMBER in the endpoint URL.
"ENDPOINT?user=YOURUSER&token=YOURTOKEN&p=PAGENUMBER".

## Match Status Explanation

| Name     | Character |
| ---      | ---       |
|  1       | The event is inplay         |
| 11       | The event is in half-time        |
| 12       | The event is in extra time          |
| 13       | The event is in penalties because extra time didn't determinate a winner         |
| 14       | Event is in break waiting for extra time or penalties          |
| 15       | Awarding of a victory to a contestant because there are no other contestants.       |
|  2       | Event will be updated later       |
|  3       | Event has ended after 90 minutes       |
| 31       | Event has ended after penalty shootout         |
| 32       | The event has finished after extra time         |
|  4       | The event has finished after extra time        |
|  5       | The event has been postponed        |
|  6       | The event has abandoned and will continue at a later time or day        |
|  7       | The event has been interrupted. Can be due to bad weather for example          |
|  8       | The event has been suspended           |
|  9       | Winner is beeing decided externally          |
| 10       | The event is delayed          |

 
## Soccer API resources

 Soccer API https://soccersapi.com  
 Docs https://soccersapi.com/page/documentation  
 Coverage  https://soccersapi.com/page/coverage  
 Support https://soccersapi.com/page/support  
 Plans & Pricing https://soccersapi.com/page/pricing  








## All Countries [/countries/{?user,token,t,page}]
 
 The All Countries endpoint gives you a list of all Countries and data like its Name, Flag, IsoCode, Continent and other related Country data.
 
+ Parameters
    + user - YOUR USER
    + token - YOUR TOKEN
    + t - list
    + page - PAGE NUMBER
   



### GET All Countries [GET] 
 

+ Request (application/json)

+ Response 200 (application/json) 

    + Headers

            Location: /countries
 
    
    + Body
       
       
       {
            "id": 43482,
            "name": "Afghanistan",
            "continent": "Asia",
            "sub_region": "Southern Asia",
            "code": "af"
        },
        {
            "id": 2492,
            "name": "Albania",
            "continent": "Europe",
            "sub_region": "Southern Europe",
            "code": "al"
        },
        {
            "id": 652,
            "name": "Algeria",
            "continent": "Africa",
            "sub_region": "Northern Africa",
            "code": "dz"
        } 


## Country by ID [/countries/{?user,token,t,id}]    
The Get Country By Id Endpoint gives you data from a specific country like Name, Flag, IsoCode, Continent and other related Country data.

+ Parameters
    + user - YOUR USER
    + token - YOUR TOKEN
    + t - info
    + id - COUNTRY ID
 
    
### GET Country by ID [GET] 


+ Request (application/json)

+ Response 200 (application/json)

    + Headers

            Location: /countries

    + Body

    {
        "id": 786,
        "name": "Latvia",
        "continent": "Europe",
        "sub_region": "Northern Europe",
        "long": "24.84024429321289",
        "lat": "56.86873245239258",
        "img": "/countries/786.png",
        "code": "lv"
    } 

 

## All Leagues [/leagues{?user,token,t,page}]
The Get All Leagues Endpoint gives you a paginated list of all leagues available in your plan.
+ Parameters
    + user - YOUR USER
    + token - YOUR TOKEN
    + t - list
    + page - PAGE NUMBER
  
 

### GET All Leagues [GET] 


+ Request (application/json)

+ Response 200 (application/json)
 


    + Headers

            Location: /leagues
 
    
    + Body

 
        {
            "id": 210,
            "name": "Superliga",
            "is_cup": "0",
            "id_country": 2492
        },
        {
            "id": 1397,
            "name": "League 2 Group A",
            "is_cup": "0",
            "id_country": 2492
        },
        {
            "id": 1396,
            "name": "1st Division",
            "is_cup": "0",
            "id_country": 2492
        } 
        
 

## League by ID  [/leagues{?user,token,id,t}]

+ Parameters
    + user - YOUR USER
    + token - YOUR TOKEN
    + t - info
    + id - LEAGUE ID
  
 

### GET League by ID [GET] 


+ Request (application/json)

+ Response 200 (application/json)
 


    + Headers

            Location: /leagues
 
    
    + Body

 
    "data": {
        "id": 240,
        "name": "First Division",
        "is_cup": "0",
        "id_current_season": 15818,
        "id_current_stage": 77443247,
        "id_current_round": 165,
        "country": {
            "id": 250,
            "name": "Belarus",
            "cc": "by"
        },
        "seasons": [
            {
                "id": 773,
                "name": "2017",
                "is_current": "0"
            },
            {
                "id": 12634,
                "name": "2018",
                "is_current": "0"
            },
            {
                "id": 15818,
                "name": "2019",
                "is_current": "1"
            }
        ]
    } 
 
## Standings  [/leagues{?user,token,t,season_id}]

The Standings Endpoint show the rank of the teams of each League in which they are participating. The response of the Standings Endpoint can be returned in two formats.

+ Parameters
    
    + user - YOUR USER
    + token - YOUR TOKEN
    + t - standings
    + season_id - SEASON ID
    
    

### GET Standings [GET] 


+ Request (application/json)

+ Response 200 (application/json)
 


    + Headers

            Location: /leagues
 
    
    + Body

 
 
   "data":{
      "league_id":874,
      "season_id":12498,
      "stage_id":3656878,
      "round_id":144303,
      "standings":[
         {
            "position":1,
            "team_id":13994,
            "team_name":"Medeama",
            "round":{
               "id":144303,
               "name":15
            },
            "group":{
               "id":null,
               "name":null
            },
            "overall":{
               "games_played":14,
               "won":8,
               "draw":3,
               "lost":3,
               "goals_scored":19,
               "goals_against":12
            },
            "home":{
               "games_played":6,
               "won":6,
               "draw":0,
               "lost":0,
               "goals_scored":12,
               "goals_against":3
            },
            "away":{
               "games_played":8,
               "won":2,
               "draw":3,
               "lost":3,
               "goals_scored":7,
               "goals_against":9
            },
            "total":{
               "goal_difference":"+7",
               "points":27
            },
            "result":"CAF Champions League",
            "points":27,
            "recent_form":"DWLWW",
            "status":"same"
         },
         {
            "position":2,
            "team_id":11150,
            "team_name":"Ashanti Gold",
            "round":{
               "id":144303,
               "name":15
            },
            "group":{
               "id":null,
               "name":null
            },
            "overall":{
               "games_played":15,
               "won":8,
               "draw":3,
               "lost":4,
               "goals_scored":15,
               "goals_against":9
            },
            "home":{
               "games_played":6,
               "won":6,
               "draw":0,
               "lost":0,
               "goals_scored":8,
               "goals_against":0
            },
            "away":{
               "games_played":9,
               "won":2,
               "draw":3,
               "lost":4,
               "goals_scored":7,
               "goals_against":9
            },
            "total":{
               "goal_difference":"+6",
               "points":27
            },
            "result":"None",
            "points":27,
            "recent_form":"WLWLD",
            "status":"up"
         },
         {
            "position":3,
            "team_id":150459,
            "team_name":"Karela",
            "round":{
               "id":144303,
               "name":15
            },
            "group":{
               "id":null,
               "name":null
            },
            "overall":{
               "games_played":15,
               "won":7,
               "draw":4,
               "lost":4,
               "goals_scored":17,
               "goals_against":10
            },
            "home":{
               "games_played":9,
               "won":6,
               "draw":2,
               "lost":1,
               "goals_scored":15,
               "goals_against":6
            },
            "away":{
               "games_played":6,
               "won":1,
               "draw":2,
               "lost":3,
               "goals_scored":2,
               "goals_against":4
            },
            "total":{
               "goal_difference":"+7",
               "points":25
            },
            "result":"None",
            "points":25,
            "recent_form":"WDWLW",
            "status":"up"
         },
         {
            "position":4,
            "team_id":5581,
            "team_name":"Asante Kotoko",
            "round":{
               "id":144303,
               "name":15
            },
            "group":{
               "id":null,
               "name":null
            },
            "overall":{
               "games_played":15,
               "won":7,
               "draw":3,
               "lost":5,
               "goals_scored":15,
               "goals_against":13
            },
            "home":{
               "games_played":9,
               "won":6,
               "draw":1,
               "lost":2,
               "goals_scored":10,
               "goals_against":5
            },
            "away":{
               "games_played":6,
               "won":1,
               "draw":2,
               "lost":3,
               "goals_scored":5,
               "goals_against":8
            },
            "total":{
               "goal_difference":"+2",
               "points":24
            },
            "result":"None",
            "points":24,
            "recent_form":"WDWWL",
            "status":"up"
         },
         {
            "position":5,
            "team_id":16645,
            "team_name":"Inter Allies",
            "round":{
               "id":144303,
               "name":15
            },
            "group":{
               "id":null,
               "name":null
            },
            "overall":{
               "games_played":15,
               "won":8,
               "draw":0,
               "lost":7,
               "goals_scored":15,
               "goals_against":15
            },
            "home":{
               "games_played":7,
               "won":7,
               "draw":0,
               "lost":0,
               "goals_scored":11,
               "goals_against":0
            },
            "away":{
               "games_played":8,
               "won":1,
               "draw":0,
               "lost":7,
               "goals_scored":4,
               "goals_against":15
            },
            "total":{
               "goal_difference":"+0",
               "points":24
            },
            "result":"None",
            "points":24,
            "recent_form":"LWWWL",
            "status":"down"
         },
         {
            "position":6,
            "team_id":10681,
            "team_name":"Dreams",
            "round":{
               "id":144303,
               "name":15
            },
            "group":{
               "id":null,
               "name":null
            },
            "overall":{
               "games_played":15,
               "won":7,
               "draw":3,
               "lost":5,
               "goals_scored":13,
               "goals_against":15
            },
            "home":{
               "games_played":7,
               "won":5,
               "draw":2,
               "lost":0,
               "goals_scored":9,
               "goals_against":3
            },
            "away":{
               "games_played":8,
               "won":2,
               "draw":1,
               "lost":5,
               "goals_scored":4,
               "goals_against":12
            },
            "total":{
               "goal_difference":"-2",
               "points":24
            },
            "result":"None",
            "points":24,
            "recent_form":"DLWLW",
            "status":"up"
         },
         {
            "position":7,
            "team_id":16614,
            "team_name":"WAFA",
            "round":{
               "id":144303,
               "name":15
            },
            "group":{
               "id":null,
               "name":null
            },
            "overall":{
               "games_played":15,
               "won":5,
               "draw":5,
               "lost":5,
               "goals_scored":22,
               "goals_against":17
            },
            "home":{
               "games_played":7,
               "won":2,
               "draw":4,
               "lost":1,
               "goals_scored":12,
               "goals_against":6
            },
            "away":{
               "games_played":8,
               "won":3,
               "draw":1,
               "lost":4,
               "goals_scored":10,
               "goals_against":11
            },
            "total":{
               "goal_difference":"+5",
               "points":20
            },
            "result":"None",
            "points":20,
            "recent_form":"LDDDW",
            "status":"down"
         },
         {
            "position":8,
            "team_id":27591,
            "team_name":"Elmina Sharks",
            "round":{
               "id":144303,
               "name":15
            },
            "group":{
               "id":null,
               "name":null
            },
            "overall":{
               "games_played":14,
               "won":4,
               "draw":8,
               "lost":2,
               "goals_scored":14,
               "goals_against":12
            },
            "home":{
               "games_played":7,
               "won":3,
               "draw":4,
               "lost":0,
               "goals_scored":7,
               "goals_against":3
            },
            "away":{
               "games_played":7,
               "won":1,
               "draw":4,
               "lost":2,
               "goals_scored":7,
               "goals_against":9
            },
            "total":{
               "goal_difference":"+2",
               "points":20
            },
            "result":"None",
            "points":20,
            "recent_form":"DDLDD",
            "status":"up"
         },
         {
            "position":9,
            "team_id":5384,
            "team_name":"Berekum Chelsea",
            "round":{
               "id":144303,
               "name":15
            },
            "group":{
               "id":null,
               "name":null
            },
            "overall":{
               "games_played":15,
               "won":5,
               "draw":4,
               "lost":6,
               "goals_scored":14,
               "goals_against":14
            },
            "home":{
               "games_played":8,
               "won":5,
               "draw":2,
               "lost":1,
               "goals_scored":12,
               "goals_against":6
            },
            "away":{
               "games_played":7,
               "won":0,
               "draw":2,
               "lost":5,
               "goals_scored":2,
               "goals_against":8
            },
            "total":{
               "goal_difference":"+0",
               "points":19
            },
            "result":"None",
            "points":19,
            "recent_form":"WLWDL",
            "status":"up"
         },
         {
            "position":10,
            "team_id":13854,
            "team_name":"Bechem United",
            "round":{
               "id":144303,
               "name":15
            },
            "group":{
               "id":null,
               "name":null
            },
            "overall":{
               "games_played":15,
               "won":5,
               "draw":4,
               "lost":6,
               "goals_scored":17,
               "goals_against":20
            },
            "home":{
               "games_played":9,
               "won":5,
               "draw":2,
               "lost":2,
               "goals_scored":15,
               "goals_against":12
            },
            "away":{
               "games_played":6,
               "won":0,
               "draw":2,
               "lost":4,
               "goals_scored":2,
               "goals_against":8
            },
            "total":{
               "goal_difference":"-3",
               "points":19
            },
            "result":"None",
            "points":19,
            "recent_form":"WLLLD",
            "status":"up"
         },
         {
            "position":11,
            "team_id":149110,
            "team_name":"Eleven Wonders",
            "round":{
               "id":144303,
               "name":15
            },
            "group":{
               "id":null,
               "name":null
            },
            "overall":{
               "games_played":15,
               "won":5,
               "draw":2,
               "lost":8,
               "goals_scored":13,
               "goals_against":16
            },
            "home":{
               "games_played":6,
               "won":4,
               "draw":1,
               "lost":1,
               "goals_scored":8,
               "goals_against":4
            },
            "away":{
               "games_played":9,
               "won":1,
               "draw":1,
               "lost":7,
               "goals_scored":5,
               "goals_against":12
            },
            "total":{
               "goal_difference":"-3",
               "points":17
            },
            "result":"None",
            "points":17,
            "recent_form":"LWLWL",
            "status":"down"
         },
         {
            "position":12,
            "team_id":16607,
            "team_name":"Liberty Professionals",
            "round":{
               "id":144303,
               "name":15
            },
            "group":{
               "id":null,
               "name":null
            },
            "overall":{
               "games_played":15,
               "won":4,
               "draw":5,
               "lost":6,
               "goals_scored":15,
               "goals_against":18
            },
            "home":{
               "games_played":7,
               "won":2,
               "draw":3,
               "lost":2,
               "goals_scored":6,
               "goals_against":7
            },
            "away":{
               "games_played":8,
               "won":2,
               "draw":2,
               "lost":4,
               "goals_scored":9,
               "goals_against":11
            },
            "total":{
               "goal_difference":"-3",
               "points":17
            },
            "result":"None",
            "points":17,
            "recent_form":"DDWLW",
            "status":"same"
         },
         {
            "position":13,
            "team_id":6789,
            "team_name":"Hearts of Oak",
            "round":{
               "id":144303,
               "name":15
            },
            "group":{
               "id":null,
               "name":null
            },
            "overall":{
               "games_played":14,
               "won":4,
               "draw":5,
               "lost":5,
               "goals_scored":13,
               "goals_against":16
            },
            "home":{
               "games_played":8,
               "won":2,
               "draw":4,
               "lost":2,
               "goals_scored":8,
               "goals_against":8
            },
            "away":{
               "games_played":6,
               "won":2,
               "draw":1,
               "lost":3,
               "goals_scored":5,
               "goals_against":8
            },
            "total":{
               "goal_difference":"-3",
               "points":17
            },
            "result":"None",
            "points":17,
            "recent_form":"DLDDW",
            "status":"same"
         },
         {
            "position":14,
            "team_id":13144,
            "team_name":"Aduana Stars",
            "round":{
               "id":144303,
               "name":15
            },
            "group":{
               "id":null,
               "name":null
            },
            "overall":{
               "games_played":12,
               "won":4,
               "draw":2,
               "lost":6,
               "goals_scored":18,
               "goals_against":16
            },
            "home":{
               "games_played":5,
               "won":4,
               "draw":1,
               "lost":0,
               "goals_scored":15,
               "goals_against":4
            },
            "away":{
               "games_played":7,
               "won":0,
               "draw":1,
               "lost":6,
               "goals_scored":3,
               "goals_against":12
            },
            "total":{
               "goal_difference":"+2",
               "points":14
            },
            "result":"Relegation",
            "points":14,
            "recent_form":"LLWLL",
            "status":"same"
         },
         {
            "position":15,
            "team_id":10094,
            "team_name":"Ebusua Dwarfs",
            "round":{
               "id":144303,
               "name":15
            },
            "group":{
               "id":null,
               "name":null
            },
            "overall":{
               "games_played":14,
               "won":3,
               "draw":5,
               "lost":6,
               "goals_scored":13,
               "goals_against":20
            },
            "home":{
               "games_played":7,
               "won":3,
               "draw":2,
               "lost":2,
               "goals_scored":9,
               "goals_against":8
            },
            "away":{
               "games_played":7,
               "won":0,
               "draw":3,
               "lost":4,
               "goals_scored":4,
               "goals_against":12
            },
            "total":{
               "goal_difference":"-7",
               "points":14
            },
            "result":"Relegation",
            "points":14,
            "recent_form":"DDWLD",
            "status":"same"
         },
         {
            "position":16,
            "team_id":8786,
            "team_name":"Wa All Stars",
            "round":{
               "id":144303,
               "name":15
            },
            "group":{
               "id":null,
               "name":null
            },
            "overall":{
               "games_played":14,
               "won":2,
               "draw":4,
               "lost":8,
               "goals_scored":8,
               "goals_against":18
            },
            "home":{
               "games_played":8,
               "won":2,
               "draw":2,
               "lost":4,
               "goals_scored":3,
               "goals_against":6
            },
            "away":{
               "games_played":6,
               "won":0,
               "draw":2,
               "lost":4,
               "goals_scored":5,
               "goals_against":12
            },
            "total":{
               "goal_difference":"-10",
               "points":10
            },
            "result":"Relegation",
            "points":10,
            "recent_form":"WLLDD",
            "status":"same"
         }
      ]
   }
}
                   

## Season by ID  [/seasons{?user,token,t,id}]

The Season by ID Endpoint gives you info about a specific Season, like their league, their year, stages, rounds.

+ Parameters
    
    + user - YOUR USER
    + token - YOUR TOKEN
    + t - info
    + id - SEASON ID
    
    

### GET Season by ID [GET] 


+ Request (application/json)

+ Response 200 (application/json)
 


    + Headers

            Location: /seasons
 
    
    + Body

         {
      "id":15720,
      "name":"2020",
      "is_current":null,
      "league_id":1497,
      "current_round_id":186303,
      "current_stage_id":77444636,
      "stages":[
         {
            "id":77442306
         },
         {
            "id":77442307
         },
         {
            "id":77442308
         },
         {
            "id":77442309
         },
         {
            "id":77444633
         },
         {
            "id":77444634
         },
         {
            "id":77444635
         },
         {
            "id":77444636
         }
      ],
      "rounds":[
         {
            "id":77444636,
            "stage_id":77444636
         },
         {
            "id":77444636,
            "stage_id":77444636
         },
         {
            "id":77444636,
            "stage_id":77444636
         }
      ],
      "groups":[
         {
            "id":222741,
            "stage_id":77442309
         },
         {
            "id":222742,
            "stage_id":77442309
         },
         {
            "id":222743,
            "stage_id":77442309
         },
         {
            "id":222744,
            "stage_id":77442309
         },
         {
            "id":243491,
            "stage_id":77444636
         },
         {
            "id":243492,
            "stage_id":77444636
         },
         {
            "id":243493,
            "stage_id":77444636
         },
         {
            "id":243494,
            "stage_id":77444636
         }
      ]
   }


## Stage by ID  [/stages{?user,token,t,id}]

The Stage by ID Endpoint gives you info about a specific Stage, like their league,season, name, rounds

+ Parameters
    
    + user - YOUR USER
    + token - YOUR TOKEN
    + t - info
    + id - STAGE ID
    
    

### GET Stage by ID [GET] 


+ Request (application/json)

+ Response 200 (application/json)
 


    + Headers

            Location: /stages
 
    
    + Body

         {
      "id":77444636,
      "name":"Group Stage",
      "league_id":1497,
      "season_id":15720,
      "rounds":[
         {
            "id":null,
            "stage_id":77444636
         },
         {
            "id":null,
            "stage_id":77444636
         },
         {
            "id":null,
            "stage_id":77444636
         }
      ],
      "groups":[
         {
            "id":243491,
            "stage_id":77444636
         },
         {
            "id":243492,
            "stage_id":77444636
         },
         {
            "id":243493,
            "stage_id":77444636
         },
         {
            "id":243494,
            "stage_id":77444636
         }
      ]
   }
   

         
## Round by ID  [/rounds{?user,token,id,t}]

The Round by ID endpoint returns information of a single round

+ Parameters
    + user - YOUR USER
    + token - YOUR TOKEN
    + t - info
    + id - ROUND ID
  
 

### GET Round by ID [GET] 


+ Request (application/json)

+ Response 200 (application/json)
 


    + Headers

            Location: /rounds
 
    
    + Body

 
         {
      "id":143098,
      "name":26,
      "league_id":689,
      "season_id":12254,
      "stage_id":2317509,
      "start":"2018-09-07",
      "end":"2018-09-19",
      "is_current":null
         }

## Rounds by Season  [/rounds{?user,token,t,season_id}]

The Rounds by Season ID endpoint returns a list of Rounds of a single season

+ Parameters
    + user - YOUR USER
    + token - YOUR TOKEN
    + t - byseason
    + season_id - SEASON ID
  
 

### GET Rounds by Season [GET] 



+ Request (application/json)

+ Response 200 (application/json)
 


    + Headers

            Location: /rounds
 
    
    + Body

 {
         {
         "id":169690,
         "name":1,
         "league_id":46,
         "season_id":16074,
         "stage_id":77443900
      },
      {
         "id":169691,
         "name":2,
         "league_id":46,
         "season_id":16074,
         "stage_id":77443900
      },
      {
         "id":169692,
         "name":3,
         "league_id":46,
         "season_id":16074,
         "stage_id":77443900
      },
      {
         "id":169693,
         "name":4,
         "league_id":46,
         "season_id":16074,
         "stage_id":77443900
      },
      {
         "id":169694,
         "name":5,
         "league_id":46,
         "season_id":16074,
         "stage_id":77443900
      },
      {
         "id":169695,
         "name":6,
         "league_id":46,
         "season_id":16074,
         "stage_id":77443900
      },
      {
         "id":169696,
         "name":7,
         "league_id":46,
         "season_id":16074,
         "stage_id":77443900
      },
      {
         "id":169697,
         "name":8,
         "league_id":46,
         "season_id":16074,
         "stage_id":77443900
      },
      {
         "id":169698,
         "name":9,
         "league_id":46,
         "season_id":16074,
         "stage_id":77443900
      },
      {
         "id":169699,
         "name":10,
         "league_id":46,
         "season_id":16074,
         "stage_id":77443900
      },
      {
         "id":169700,
         "name":11,
         "league_id":46,
         "season_id":16074,
         "stage_id":77443900
      },
      {
         "id":169701,
         "name":12,
         "league_id":46,
         "season_id":16074,
         "stage_id":77443900
      },
      {
         "id":169702,
         "name":13,
         "league_id":46,
         "season_id":16074,
         "stage_id":77443900
      },
      {
         "id":169703,
         "name":14,
         "league_id":46,
         "season_id":16074,
         "stage_id":77443900
      },
      {
         "id":169704,
         "name":15,
         "league_id":46,
         "season_id":16074,
         "stage_id":77443900
      },
      {
         "id":169705,
         "name":16,
         "league_id":46,
         "season_id":16074,
         "stage_id":77443900
      },
      {
         "id":169706,
         "name":17,
         "league_id":46,
         "season_id":16074,
         "stage_id":77443900
      },
      {
         "id":169707,
         "name":18,
         "league_id":46,
         "season_id":16074,
         "stage_id":77443900
      },
      {
         "id":169708,
         "name":19,
         "league_id":46,
         "season_id":16074,
         "stage_id":77443900
      },
      {
         "id":169709,
         "name":20,
         "league_id":46,
         "season_id":16074,
         "stage_id":77443900
      },
      {
         "id":169710,
         "name":21,
         "league_id":46,
         "season_id":16074,
         "stage_id":77443900
      },
      {
         "id":169711,
         "name":22,
         "league_id":46,
         "season_id":16074,
         "stage_id":77443900
      },
      {
         "id":169712,
         "name":23,
         "league_id":46,
         "season_id":16074,
         "stage_id":77443900
      },
      {
         "id":169713,
         "name":24,
         "league_id":46,
         "season_id":16074,
         "stage_id":77443900
      },
      {
         "id":169714,
         "name":25,
         "league_id":46,
         "season_id":16074,
         "stage_id":77443900
      },
      {
         "id":169715,
         "name":26,
         "league_id":46,
         "season_id":16074,
         "stage_id":77443900
      },
      {
         "id":169716,
         "name":27,
         "league_id":46,
         "season_id":16074,
         "stage_id":77443900
      },
      {
         "id":169717,
         "name":28,
         "league_id":46,
         "season_id":16074,
         "stage_id":77443900
      },
      {
         "id":169718,
         "name":29,
         "league_id":46,
         "season_id":16074,
         "stage_id":77443900
      },
      {
         "id":169719,
         "name":30,
         "league_id":46,
         "season_id":16074,
         "stage_id":77443900
      },
      {
         "id":169720,
         "name":31,
         "league_id":46,
         "season_id":16074,
         "stage_id":77443900
      },
      {
         "id":169721,
         "name":32,
         "league_id":46,
         "season_id":16074,
         "stage_id":77443900
      },
      {
         "id":169722,
         "name":33,
         "league_id":46,
         "season_id":16074,
         "stage_id":77443900
      },
      {
         "id":169723,
         "name":34,
         "league_id":46,
         "season_id":16074,
         "stage_id":77443900
      },
      {
         "id":169724,
         "name":35,
         "league_id":46,
         "season_id":16074,
         "stage_id":77443900
      },
      {
         "id":169725,
         "name":36,
         "league_id":46,
         "season_id":16074,
         "stage_id":77443900
      },
      {
         "id":169726,
         "name":37,
         "league_id":46,
         "season_id":16074,
         "stage_id":77443900
      },
      {
         "id":169727,
         "name":38,
         "league_id":46,
         "season_id":16074,
         "stage_id":77443900
      }
 
    }
          
## Teams by Season  [/teams{?user,token,t,season_id}]

The Teams by Season endpoint returns a list of teams participants on a single 
season

+ Parameters
    + user - YOUR USER
    + token - YOUR TOKEN
    + t - byseason
    + season_id - SEASON ID
  
 

### GET Teams by Season [GET] 


+ Request (application/json)

+ Response 200 (application/json)
 


    + Headers

            Location: /teams
 
    
    + Body

 
   
            {
                "id":74,
                "name":"Celta de Vigo",
                "country_id":70
            },
            {
                "id":98,
                "name":"SD Eibar",
                "country_id":70
            },
            {
                "id":121,
                "name":"Barcelona",
                "country_id":70
            },
            {
                "id":141,
                "name":"Granada",
                "country_id":70
            },
            {
                "id":144,
                "name":"Getafe",
                "country_id":70
            },
            {
                "id":252,
                "name":"Valencia",
                "country_id":70
            },
            {
                "id":399,
                "name":"Real Valladolid",
                "country_id":70
            },
            {
                "id":497,
                "name":"Osasuna",
                "country_id":70
            },
            {
                "id":523,
                "name":"Real Betis",
                "country_id":70
            },
            {
                "id":566,
                "name":"Espanyol",
                "country_id":70
            },
            {
                "id":632,
                "name":"Real Sociedad",
                "country_id":70
            }
            
## Team by ID  [/teams{?user,token,t,id}]

The Team by ID endpoint gives you data of a specific team

+ Parameters
    
    + user - YOUR USER
    + token - YOUR TOKEN
    + t - info
    + id - TEAM ID
     
    
    

### GET Team by ID [GET] 


+ Request (application/json)

+ Response 200 (application/json)
 


    + Headers

            Location: /teams
 
    
    + Body
    
     {
        "id": 52,  
        "name": "Manchester United",
        "img": "https://cdn.soccersapi.com/images/soccer/teams/150/52.png",
        "leagues": [
            {
                "id": 46,
                "name": "Premier League"
            },
            {
                "id": 40,
                "name": "Champions League"
            },
            {
                "id": 62,
                "name": "FA Cup"
            },
            {
                "id": 65,
                "name": "Carabao Cup"
            },
            {
                "id": 1139,
                "name": "Club Friendlies"
            },
            {
                "id": 1159,
                "name": "International Champions Cup"
            },
            {
                "id": 1366,
                "name": "Uefa Super Cup"
            },
            {
                "id": 43,
                "name": "Europa League"
            }
        ],
        "founded": "1878",
        "twitter": "@ManUtd",
        "current_season_id": 16074,
        "coach_id": 524345,
        "venue_id": 244,
        "country": {
            "id": 500,
            "name": "England"
        }
    }
    
## Team Squad [/teams{?user,token,t,id,season_id}]

The Team Squad endpoint gives you all players of a specific team by Season ID

+ Parameters
    
    + user - YOUR USER
    + token - YOUR TOKEN
    + t - squad
    + id - TEAM ID
    + season_id - SEASON ID
   
    
    

### GET Team Squad [GET] 


+ Request (application/json)

+ Response 200 (application/json)
 


    + Headers

            Location: /teams
 
    
    + Body
 
     
  {
            "player": {
                "id": 129858,
                "name": "Alisson Ramsés Becker",
                "common_name": "Alisson",
                "firstname": "Alisson Ramsés",
                "lastname": "Becker",
                "birthday": "02/10/1992",
                "birthcountry": "Brazil",
                "birthplace": "Novo Hamburgo",
                "w": "91 kg",
                "h": "193 cm",
                "img": "https://cdn.soccersapi.com/images/soccer/players/50/129858.png",
                "country": {
                    "id": 43,
                    "name": "Brazil",
                    "cc": "br"
                }
            },
            "number": 1,
            "captain": 0,
            "position_id": 1
        },
        {
            "player": {
                "id": 1955,
                "name": "Trent Alexander-Arnold",
                "common_name": "T. Alexander-Arnold",
                "firstname": "Trent",
                "lastname": "Alexander-Arnold",
                "birthday": "07/10/1998",
                "birthcountry": "England",
                "birthplace": "Liverpool",
                "w": "69 kg",
                "h": "175 cm",
                "img": "https://cdn.soccersapi.com/images/soccer/players/50/1955.png",
                "country": {
                    "id": 500,
                    "name": "England",
                    "cc": "gb"
                }
            },
            "number": 66,
            "captain": 0,
            "position_id": 2
        },
        {
            "player": {
                "id": 1491,
                "name": "Joe Gomez",
                "common_name": "J. Gomez",
                "firstname": "Joe",
                "lastname": "Gomez",
                "birthday": "23/05/1997",
                "birthcountry": "England",
                "birthplace": "London",
                "w": "77 kg",
                "h": "188 cm",
                "img": "https://cdn.soccersapi.com/images/soccer/players/50/1491.png",
                "country": {
                    "id": 500,
                    "name": "England",
                    "cc": "gb"
                }
            },
            "number": 12,
            "captain": 0,
            "position_id": 2
        }
    
    
## Team Transfers [/teams{?user,token,t,id,season_id}]

The Team Transfers endpoint returns the transfers (IN, OUT) of a specific team
+ Parameters
    
    + user - YOUR USER
    + token - YOUR TOKEN
    + t - transfers
    + id - TEAM ID
    + season_id - SEASON ID
   
    
    

### GET Team Transfers [GET] 


+ Request (application/json)

+ Response 200 (application/json)
 


    + Headers

            Location: /teams
 
    
    + Body
 
     
       {
            "player_id": 12685,
            "from_team_id": 59,
            "to_team_id": 52,
            "transfer": "n/a",
            "type": "IN",
            "date": "2019-07-01",
            "amount": null
        },
        {
            "player_id": 5489,
            "from_team_id": 1168,
            "to_team_id": 52,
            "transfer": "n/a",
            "type": "IN",
            "date": "2019-07-01",
            "amount": null
        },
        {
            "player_id": 4429,
            "from_team_id": 53,
            "to_team_id": 52,
            "transfer": "n/a",
            "type": "IN",
            "date": "2019-07-01",
            "amount": null
        }
     
## Team Sidelined  [/teams{?user,token,t,id,__}]

The Team Sidelined endpoint return data about injuried players

+ Parameters
    
    + user - YOUR USER
    + token - YOUR TOKEN
    + t - sidelined
    + id - TEAM ID
     
    
    

### GET Team Sidelined [GET] 


+ Request (application/json)

+ Response 200 (application/json)
 


    + Headers

            Location: /teams
 
    
    + Body
    
   []  
 
 
## Livescores Today  [/livescores{?user,token,t _}]

The Livescores today Endpoint gives you a list of matches will play today. (From the leagues available in your plan)

+ Parameters
    
    + user - YOUR USER
    + token - YOUR TOKEN
    + t - today
 

### GET Livescores Today [GET]  


+ Request (application/json)

+ Response 200 (application/json)
 


    + Headers

            Location: /livescores
 
    
    + Body
    
{
            "id": 12000318,
            "status": 3,
            "pitch": null,
            "referee_id": null,
            "round_id": 184196,
            "season_id": 16648,
            "stage_id": 77445844,
            "group_id": null,
            "aggregate_id": null,
            "winner_team_id": 229334,
            "venue_id": 368,
            "leg": "1/1",
            "deleted": false,
            "time": {
                "datetime": "2019-12-31 01:00:00",
                "date": "2019-12-31",
                "time": "01:00:00",
                "minute": 90,
                "timestamp": 1577754000,
                "timezone": "UTC"
            },
            "teams": {
                "home": {
                    "id": 1379,
                    "name": "UWI",
                    "short_code": null,
                    "img": "https://cdn.soccersapi.com/images/soccer/teams/150/1379.png",
                    "form": null,
                    "coach_id": 21394935,
                    "color": "#C40010",
                    "kit_colors": "#C40010,#C40010,#C40010,#00C1BA,#C40010,#0046A8,#C40010"
                },
                "away": {
                    "id": 229334,
                    "name": "Mount Pleasant Academy",
                    "short_code": null,
                    "img": "https://cdn.soccersapi.com/images/soccer/teams/150/229334.png",
                    "form": null,
                    "coach_id": 37326487,
                    "color": "#008000",
                    "kit_colors": "#008040,#008040,#D446BA,#00C1BA,#C40010,#0046A8,#0A0A0A"
                }
            },
            "league": {
                "id": 775,
                "name": "Premier League",
                "type": "domestic",
                "country_id": 1678,
                "country_name": "Jamaica",
                "country_flag": "https://cdn.soccersapi.com/images/countries/30/jm.png"
            },
            "scores": {
                "home_score": 0,
                "away_score": 3,
                "ht_score": "0-0",
                "ft_score": "0-3",
                "et_score": null,
                "ps_score": null
            },
            "standings": {
                "home_position": 11,
                "away_position": 2
            },
            "assistants": {
                "first_assistant_id": null,
                "second_assistant_id": null,
                "fourth_assistant_id": null
            },
            "weather_report": {
                "code": "clouds",
                "type": "few clouds",
                "temperature": {
                    "fahrenheit": {
                        "temp": 76.17
                    },
                    "celcius": {
                        "temp": 24.5
                    }
                },
                "clouds": "20%",
                "humidity": "78%",
                "pressure": 1014,
                "wind": {
                    "speed": "6.93 m/s",
                    "degree": 100
                },
                "coordinates": {
                    "lat": 17.97,
                    "lon": -76.79
                },
                "updated_at": "2019-12-31T02:45:02.826126Z"
            }
        },
        {
            "id": 11984619,
            "status": 3,
            "pitch": null,
            "referee_id": null,
            "round_id": 182371,
            "season_id": 16586,
            "stage_id": 77445671,
            "group_id": null,
            "aggregate_id": null,
            "winner_team_id": 338,
            "venue_id": 65,
            "leg": "1/1",
            "deleted": false,
            "time": {
                "datetime": "2019-12-31 08:00:00",
                "date": "2019-12-31",
                "time": "08:00:00",
                "minute": 90,
                "timestamp": 1577779200,
                "timezone": "UTC"
            },
            "teams": {
                "home": {
                    "id": 448,
                    "name": "Central Coast Mariners",
                    "short_code": null,
                    "img": "https://cdn.soccersapi.com/images/soccer/teams/150/448.png",
                    "form": null,
                    "coach_id": 32405422,
                    "color": "#FFDF1B",
                    "kit_colors": "#FFDF1B,#FFDF1B,#FFDF1B,#FFDF1B,#5C8FAE,#FFDF1B,#0046A8"
                },
                "away": {
                    "id": 338,
                    "name": "Perth Glory",
                    "short_code": null,
                    "img": "https://cdn.soccersapi.com/images/soccer/teams/150/338.png",
                    "form": null,
                    "coach_id": 896820,
                    "color": "#F0F0F0",
                    "kit_colors": "#F0F0F0,#F0F0F0,#F0F0F0,#F0F0F0,#C40010,#0046A8,#F0F0F0"
                }
            },
            "league": {
                "id": 1394,
                "name": "A-League",
                "type": "domestic",
                "country_id": 136,
                "country_name": "Australia",
                "country_flag": "https://cdn.soccersapi.com/images/countries/30/au.png"
            },
            "scores": {
                "home_score": 0,
                "away_score": 3,
                "ht_score": "0-1",
                "ft_score": "0-3",
                "et_score": null,
                "ps_score": null
            },
            "standings": {
                "home_position": 9,
                "away_position": 4
            },
            "assistants": {
                "first_assistant_id": null,
                "second_assistant_id": null,
                "fourth_assistant_id": null
            },
            "weather_report": {
                "code": "clouds",
                "type": "broken clouds",
                "temperature": {
                    "fahrenheit": {
                        "temp": 70.99
                    },
                    "celcius": {
                        "temp": 21.7
                    }
                },
                "clouds": "75%",
                "humidity": "60%",
                "pressure": 1011,
                "wind": {
                    "speed": "13.87 m/s",
                    "degree": 170
                },
                "coordinates": {
                    "lat": -33.43,
                    "lon": 151.34
                },
                "updated_at": "2019-12-31T10:00:04.610061Z"
            }
        },
        {
            "id": 12012490,
            "status": 4,
            "pitch": null,
            "referee_id": null,
            "round_id": null,
            "season_id": 16677,
            "stage_id": 77445928,
            "group_id": null,
            "aggregate_id": null,
            "winner_team_id": null,
            "venue_id": 23090,
            "leg": "1/1",
            "deleted": false,
            "time": {
                "datetime": "2019-12-31 11:00:00",
                "date": "2019-12-31",
                "time": "11:00:00",
                "minute": null,
                "timestamp": 1577790000,
                "timezone": "UTC"
            },
            "teams": {
                "home": {
                    "id": 28891,
                    "name": "Ozdi FC",
                    "short_code": null,
                    "img": "https://cdn.soccersapi.com/images/soccer/teams/150/28891.png",
                    "form": null,
                    "coach_id": 37252548,
                    "color": null,
                    "kit_colors": null
                },
                "away": {
                    "id": 10179,
                    "name": "Kaposvári Rákóczi",
                    "short_code": null,
                    "img": "https://cdn.soccersapi.com/images/soccer/teams/150/10179.png",
                    "form": null,
                    "coach_id": 51765,
                    "color": null,
                    "kit_colors": null
                }
            },
            "league": {
                "id": 375,
                "name": "Hungarian Cup",
                "type": "domestic_cup",
                "country_id": 712,
                "country_name": "Hungary",
                "country_flag": "https://cdn.soccersapi.com/images/countries/30/hu.png"
            },
            "scores": {
                "home_score": 0,
                "away_score": 0,
                "ht_score": null,
                "ft_score": null,
                "et_score": null,
                "ps_score": null
            },
            "standings": {
                "home_position": 2,
                "away_position": 1
            },
            "assistants": {
                "first_assistant_id": null,
                "second_assistant_id": null,
                "fourth_assistant_id": null
            },
            "weather_report": null
        }
   
   
## Livescores Tomorrow  [/livescores{?user,token,t __}]

The Livescores Tomorrow Endpoint gives you a list of matches will play tomorrow. (From the leagues available in your plan)

+ Parameters
    
    + user - YOUR USER
    + token - YOUR TOKEN
    + t - tomorrow
    
 
### GET Livescores Tomorrow [GET]  


+ Request (application/json)

+ Response 200 (application/json)
 


    + Headers

            Location: /livescores
 
    
    + Body
    
{
            "id": 12000318,
            "status": 3,
            "pitch": null,
            "referee_id": null,
            "round_id": 184196,
            "season_id": 16648,
            "stage_id": 77445844,
            "group_id": null,
            "aggregate_id": null,
            "winner_team_id": 229334,
            "venue_id": 368,
            "leg": "1/1",
            "deleted": false,
            "time": {
                "datetime": "2019-12-31 01:00:00",
                "date": "2019-12-31",
                "time": "01:00:00",
                "minute": 90,
                "timestamp": 1577754000,
                "timezone": "UTC"
            },
            "teams": {
                "home": {
                    "id": 1379,
                    "name": "UWI",
                    "short_code": null,
                    "img": "https://cdn.soccersapi.com/images/soccer/teams/150/1379.png",
                    "form": null,
                    "coach_id": 21394935,
                    "color": "#C40010",
                    "kit_colors": "#C40010,#C40010,#C40010,#00C1BA,#C40010,#0046A8,#C40010"
                },
                "away": {
                    "id": 229334,
                    "name": "Mount Pleasant Academy",
                    "short_code": null,
                    "img": "https://cdn.soccersapi.com/images/soccer/teams/150/229334.png",
                    "form": null,
                    "coach_id": 37326487,
                    "color": "#008000",
                    "kit_colors": "#008040,#008040,#D446BA,#00C1BA,#C40010,#0046A8,#0A0A0A"
                }
            },
            "league": {
                "id": 775,
                "name": "Premier League",
                "type": "domestic",
                "country_id": 1678,
                "country_name": "Jamaica",
                "country_flag": "https://cdn.soccersapi.com/images/countries/30/jm.png"
            },
            "scores": {
                "home_score": 0,
                "away_score": 3,
                "ht_score": "0-0",
                "ft_score": "0-3",
                "et_score": null,
                "ps_score": null
            },
            "standings": {
                "home_position": 11,
                "away_position": 2
            },
            "assistants": {
                "first_assistant_id": null,
                "second_assistant_id": null,
                "fourth_assistant_id": null
            },
            "weather_report": {
                "code": "clouds",
                "type": "few clouds",
                "temperature": {
                    "fahrenheit": {
                        "temp": 76.17
                    },
                    "celcius": {
                        "temp": 24.5
                    }
                },
                "clouds": "20%",
                "humidity": "78%",
                "pressure": 1014,
                "wind": {
                    "speed": "6.93 m/s",
                    "degree": 100
                },
                "coordinates": {
                    "lat": 17.97,
                    "lon": -76.79
                },
                "updated_at": "2019-12-31T02:45:02.826126Z"
            }
        },
        {
            "id": 11984619,
            "status": 3,
            "pitch": null,
            "referee_id": null,
            "round_id": 182371,
            "season_id": 16586,
            "stage_id": 77445671,
            "group_id": null,
            "aggregate_id": null,
            "winner_team_id": 338,
            "venue_id": 65,
            "leg": "1/1",
            "deleted": false,
            "time": {
                "datetime": "2019-12-31 08:00:00",
                "date": "2019-12-31",
                "time": "08:00:00",
                "minute": 90,
                "timestamp": 1577779200,
                "timezone": "UTC"
            },
            "teams": {
                "home": {
                    "id": 448,
                    "name": "Central Coast Mariners",
                    "short_code": null,
                    "img": "https://cdn.soccersapi.com/images/soccer/teams/150/448.png",
                    "form": null,
                    "coach_id": 32405422,
                    "color": "#FFDF1B",
                    "kit_colors": "#FFDF1B,#FFDF1B,#FFDF1B,#FFDF1B,#5C8FAE,#FFDF1B,#0046A8"
                },
                "away": {
                    "id": 338,
                    "name": "Perth Glory",
                    "short_code": null,
                    "img": "https://cdn.soccersapi.com/images/soccer/teams/150/338.png",
                    "form": null,
                    "coach_id": 896820,
                    "color": "#F0F0F0",
                    "kit_colors": "#F0F0F0,#F0F0F0,#F0F0F0,#F0F0F0,#C40010,#0046A8,#F0F0F0"
                }
            },
            "league": {
                "id": 1394,
                "name": "A-League",
                "type": "domestic",
                "country_id": 136,
                "country_name": "Australia",
                "country_flag": "https://cdn.soccersapi.com/images/countries/30/au.png"
            },
            "scores": {
                "home_score": 0,
                "away_score": 3,
                "ht_score": "0-1",
                "ft_score": "0-3",
                "et_score": null,
                "ps_score": null
            },
            "standings": {
                "home_position": 9,
                "away_position": 4
            },
            "assistants": {
                "first_assistant_id": null,
                "second_assistant_id": null,
                "fourth_assistant_id": null
            },
            "weather_report": {
                "code": "clouds",
                "type": "broken clouds",
                "temperature": {
                    "fahrenheit": {
                        "temp": 70.99
                    },
                    "celcius": {
                        "temp": 21.7
                    }
                },
                "clouds": "75%",
                "humidity": "60%",
                "pressure": 1011,
                "wind": {
                    "speed": "13.87 m/s",
                    "degree": 170
                },
                "coordinates": {
                    "lat": -33.43,
                    "lon": 151.34
                },
                "updated_at": "2019-12-31T10:00:04.610061Z"
            }
        },
        {
            "id": 12012490,
            "status": 4,
            "pitch": null,
            "referee_id": null,
            "round_id": null,
            "season_id": 16677,
            "stage_id": 77445928,
            "group_id": null,
            "aggregate_id": null,
            "winner_team_id": null,
            "venue_id": 23090,
            "leg": "1/1",
            "deleted": false,
            "time": {
                "datetime": "2019-12-31 11:00:00",
                "date": "2019-12-31",
                "time": "11:00:00",
                "minute": null,
                "timestamp": 1577790000,
                "timezone": "UTC"
            },
            "teams": {
                "home": {
                    "id": 28891,
                    "name": "Ozdi FC",
                    "short_code": null,
                    "img": "https://cdn.soccersapi.com/images/soccer/teams/150/28891.png",
                    "form": null,
                    "coach_id": 37252548,
                    "color": null,
                    "kit_colors": null
                },
                "away": {
                    "id": 10179,
                    "name": "Kaposvári Rákóczi",
                    "short_code": null,
                    "img": "https://cdn.soccersapi.com/images/soccer/teams/150/10179.png",
                    "form": null,
                    "coach_id": 51765,
                    "color": null,
                    "kit_colors": null
                }
            },
            "league": {
                "id": 375,
                "name": "Hungarian Cup",
                "type": "domestic_cup",
                "country_id": 712,
                "country_name": "Hungary",
                "country_flag": "https://cdn.soccersapi.com/images/countries/30/hu.png"
            },
            "scores": {
                "home_score": 0,
                "away_score": 0,
                "ht_score": null,
                "ft_score": null,
                "et_score": null,
                "ps_score": null
            },
            "standings": {
                "home_position": 2,
                "away_position": 1
            },
            "assistants": {
                "first_assistant_id": null,
                "second_assistant_id": null,
                "fourth_assistant_id": null
            },
            "weather_report": null
        }


## Livescores Yesterday  [/livescores{?user,token,t ___}]

The Livescores Yesterday Endpoint gives you a list of matches has play tomorrow. (From the leagues available in your plan)

+ Parameters
    
    + user - YOUR USER
    + token - YOUR TOKEN
    + t - yesterday
    
 
### GET Livescores Yesterday [GET]  


+ Request (application/json)

+ Response 200 (application/json)
 


    + Headers

            Location: /livescores
 
    
    + Body
    
 
        {
            "id": 12000320,
            "status": 3,
            "pitch": null,
            "referee_id": null,
            "round_id": 184196,
            "season_id": 16648,
            "stage_id": 77445844,
            "group_id": null,
            "aggregate_id": null,
            "winner_team_id": 775,
            "venue_id": 259,
            "leg": "1/1",
            "deleted": false,
            "time": {
                "datetime": "2019-12-30 00:00:00",
                "date": "2019-12-30",
                "time": "00:00:00",
                "minute": 90,
                "timestamp": 1577664000,
                "timezone": "UTC"
            },
            "teams": {
                "home": {
                    "id": 775,
                    "name": "Harbour View",
                    "short_code": null,
                    "img": "https://cdn.soccersapi.com/images/soccer/teams/150/775.png",
                    "form": null,
                    "coach_id": 1646,
                    "color": "#E4E41B",
                    "kit_colors": "#FFDF1B,#FFDF1B,#FFDF1B,#00C1BA,#C40010,#0046A8,#0046A8"
                },
                "away": {
                    "id": 1526,
                    "name": "Portmore United",
                    "short_code": null,
                    "img": "https://cdn.soccersapi.com/images/soccer/teams/150/1526.png",
                    "form": null,
                    "coach_id": 761,
                    "color": "#1515EA",
                    "kit_colors": "#0046A8,#0046A8,#D446BA,#00C1BA,#C40010,#0046A8,#0046A8"
                }
            },
            "league": {
                "id": 775,
                "name": "Premier League",
                "type": "domestic",
                "country_id": 1678,
                "country_name": "Jamaica",
                "country_flag": "https://cdn.soccersapi.com/images/countries/30/jm.png"
            },
            "scores": {
                "home_score": 1,
                "away_score": 0,
                "ht_score": "0-0",
                "ft_score": "1-0",
                "et_score": null,
                "ps_score": null
            },
            "standings": {
                "home_position": 9,
                "away_position": 5
            },
            "assistants": {
                "first_assistant_id": null,
                "second_assistant_id": null,
                "fourth_assistant_id": null
            },
            "weather_report": {
                "code": "clouds",
                "type": "few clouds",
                "temperature": {
                    "fahrenheit": {
                        "temp": 76.15
                    },
                    "celcius": {
                        "temp": 24.5
                    }
                },
                "clouds": "20%",
                "humidity": "78%",
                "pressure": 1013,
                "wind": {
                    "speed": "8.05 m/s",
                    "degree": 50
                },
                "coordinates": {
                    "lat": 17.95,
                    "lon": -76.72
                },
                "updated_at": "2019-12-30T01:45:03.013455Z"
            }
        },
        {
            "id": 12000322,
            "status": 3,
            "pitch": null,
            "referee_id": null,
            "round_id": 184196,
            "season_id": 16648,
            "stage_id": 77445844,
            "group_id": null,
            "aggregate_id": null,
            "winner_team_id": 15544,
            "venue_id": 11271,
            "leg": "1/1",
            "deleted": false,
            "time": {
                "datetime": "2019-12-30 01:00:00",
                "date": "2019-12-30",
                "time": "01:00:00",
                "minute": 90,
                "timestamp": 1577667600,
                "timezone": "UTC"
            },
            "teams": {
                "home": {
                    "id": 15544,
                    "name": "Cavalier",
                    "short_code": null,
                    "img": "https://cdn.soccersapi.com/images/soccer/teams/150/15544.png",
                    "form": null,
                    "coach_id": 4977574,
                    "color": "#4BD43B",
                    "kit_colors": "#4BD43B,#4BD43B,#4BD43B,#00C1BA,#C40010,#0046A8,#0A0A0A"
                },
                "away": {
                    "id": 15417,
                    "name": "Waterhouse",
                    "short_code": null,
                    "img": "https://cdn.soccersapi.com/images/soccer/teams/150/15417.png",
                    "form": null,
                    "coach_id": 457120,
                    "color": "#8EBADB",
                    "kit_colors": "#8EBADB,#8EBADB,#8EBADB,#FBED32,#C40010,#0046A8,#FBED32"
                }
            },
            "league": {
                "id": 775,
                "name": "Premier League",
                "type": "domestic",
                "country_id": 1678,
                "country_name": "Jamaica",
                "country_flag": "https://cdn.soccersapi.com/images/countries/30/jm.png"
            },
            "scores": {
                "home_score": 1,
                "away_score": 0,
                "ht_score": "0-0",
                "ft_score": "1-0",
                "et_score": null,
                "ps_score": null
            },
            "standings": {
                "home_position": 7,
                "away_position": 1
            },
            "assistants": {
                "first_assistant_id": null,
                "second_assistant_id": null,
                "fourth_assistant_id": null
            },
            "weather_report": {
                "code": "clouds",
                "type": "few clouds",
                "temperature": {
                    "fahrenheit": {
                        "temp": 75.56
                    },
                    "celcius": {
                        "temp": 24.2
                    }
                },
                "clouds": "20%",
                "humidity": "78%",
                "pressure": 1013,
                "wind": {
                    "speed": "1.12 m/s",
                    "degree": null
                },
                "coordinates": {
                    "lat": 17.97,
                    "lon": -76.79
                },
                "updated_at": "2019-12-30T02:45:03.268926Z"
            }
        },
        {
            "id": 12019352,
            "status": 31,
            "pitch": null,
            "referee_id": 15679,
            "round_id": null,
            "season_id": 16268,
            "stage_id": 77444754,
            "group_id": null,
            "aggregate_id": 20913,
            "winner_team_id": 2700,
            "venue_id": 1637,
            "leg": "2/2",
            "deleted": false,
            "time": {
                "datetime": "2019-12-30 02:15:00",
                "date": "2019-12-30",
                "time": "02:15:00",
                "minute": 120,
                "timestamp": 1577672100,
                "timezone": "UTC"
            },
            "teams": {
                "home": {
                    "id": 2725,
                    "name": "América",
                    "short_code": null,
                    "img": "https://cdn.soccersapi.com/images/soccer/teams/150/2725.png",
                    "form": null,
                    "coach_id": 896803,
                    "color": "#FFFF80",
                    "kit_colors": "#FFFF80,#FFFF80,#FFFF80,#FFFF80,#C40010,#0046A8,#F4F48A"
                },
                "away": {
                    "id": 2700,
                    "name": "Monterrey",
                    "short_code": null,
                    "img": "https://cdn.soccersapi.com/images/soccer/teams/150/2700.png",
                    "form": null,
                    "coach_id": 896793,
                    "color": "#022857",
                    "kit_colors": "#F0F0F0,#022857,#F0F0F0,#F0F0F0,#C40010,#0046A8,#022857"
                }
            },
            "league": {
                "id": 781,
                "name": "Liga MX",
                "type": "domestic",
                "country_id": 496,
                "country_name": "Mexico",
                "country_flag": "https://cdn.soccersapi.com/images/countries/30/mx.png"
            },
            "scores": {
                "home_score": 2,
                "away_score": 1,
                "ht_score": "2-0",
                "ft_score": "2-1",
                "et_score": "2-1",
                "ps_score": "2-4"
            },
            "standings": {
                "home_position": 2,
                "away_position": 1
            },
            "assistants": {
                "first_assistant_id": 20910,
                "second_assistant_id": 13447,
                "fourth_assistant_id": null
            },
            "weather_report": {
                "code": "clouds",
                "type": "broken clouds",
                "temperature": {
                    "fahrenheit": {
                        "temp": 57.74
                    },
                    "celcius": {
                        "temp": 14.3
                    }
                },
                "clouds": "75%",
                "humidity": "45%",
                "pressure": 1026,
                "wind": {
                    "speed": "2.84 m/s",
                    "degree": 94
                },
                "coordinates": {
                    "lat": 19.43,
                    "lon": -99.13
                },
                "updated_at": "2019-12-30T05:00:04.977237Z"
            }
        } 
  
        
## Livescores Inplay  [/livescores{?user,token,t ____}]

The Livescores Inplay Endpoint gives you a list of matches playing now. (From the leagues available in your plan)

+ Parameters
    
    + user - YOUR USER
    + token - YOUR TOKEN
    + t - live
 
### GET Livescores Inplay [GET]  


+ Request (application/json)

+ Response 200 (application/json)
 


    + Headers

            Location: /livescores
 
    
    + Body
    
 {
            "id": 11943196,
            "status": 1,
            "pitch": null,
            "referee_id": null,
            "round_id": 177562,
            "season_id": 16425,
            "stage_id": 77445232,
            "group_id": null,
            "aggregate_id": null,
            "winner_team_id": null,
            "venue_id": 23669,
            "leg": "1/1",
            "deleted": false,
            "time": {
                "datetime": "2020-01-08 14:45:00",
                "date": "2020-01-08",
                "time": "14:45:00",
                "minute": 90,
                "timestamp": 1578494700,
                "timezone": "UTC"
            },
            "teams": {
                "home": {
                    "id": 422,
                    "name": "Celta de Vigo II",
                    "short_code": "CLV",
                    "img": "https://cdn.soccersapi.com/images/soccer/teams/150/422.png",
                    "form": null,
                    "coach_id": 19290044,
                    "color": "#BBFFFF",
                    "kit_colors": "#BBFFFF,#BBFFFF,#BBFFFF,#00C1BA,#C40010,#0046A8,#F0F0F0"
                },
                "away": {
                    "id": 10124,
                    "name": "Real Madrid II",
                    "short_code": "RMA",
                    "img": "https://cdn.soccersapi.com/images/soccer/teams/150/10124.png",
                    "form": null,
                    "coach_id": 31192,
                    "color": "#262626",
                    "kit_colors": "#262626,#262626,#FF0080,#00C1BA,#C40010,#0046A8,#262626"
                }
            },
            "league": {
                "id": 1290,
                "name": "Segunda B - Group 1",
                "type": "domestic",
                "country_id": 70,
                "country_name": "Spain",
                "country_flag": "https://cdn.soccersapi.com/images/countries/30/es.png"
            },
            "scores": {
                "home_score": 0,
                "away_score": 1,
                "ht_score": "0-0",
                "ft_score": null,
                "et_score": null,
                "ps_score": null
            },
            "standings": {
                "home_position": 18,
                "away_position": 15
            },
            "assistants": {
                "first_assistant_id": null,
                "second_assistant_id": null,
                "fourth_assistant_id": null
            },
            "weather_report": {
                "code": "fog",
                "type": "fog",
                "temperature": {
                    "fahrenheit": {
                        "temp": 53.44
                    },
                    "celcius": {
                        "temp": 11.9
                    }
                },
                "clouds": "90%",
                "humidity": "93%",
                "pressure": 1029,
                "wind": {
                    "speed": "6.93 m/s",
                    "degree": 230
                },
                "coordinates": {
                    "lat": 42.24,
                    "lon": -8.72
                },
                "updated_at": "2020-01-08T18:00:15.944884Z"
            }
        },
        {
            "id": 11923801,
            "status": 1,
            "pitch": null,
            "referee_id": null,
            "round_id": 175142,
            "season_id": 16326,
            "stage_id": 77444941,
            "group_id": null,
            "aggregate_id": null,
            "winner_team_id": null,
            "venue_id": 1591,
            "leg": "1/1",
            "deleted": false,
            "time": {
                "datetime": "2020-01-08 17:00:00",
                "date": "2020-01-08",
                "time": "17:00:00",
                "minute": 49,
                "timestamp": 1578502800,
                "timezone": "UTC"
            },
            "teams": {
                "home": {
                    "id": 2642,
                    "name": "APOEL",
                    "short_code": null,
                    "img": "https://cdn.soccersapi.com/images/soccer/teams/150/2642.png",
                    "form": null,
                    "coach_id": 457083,
                    "color": "#2B72DE",
                    "kit_colors": "#FBED32,#2B72DE,#FFDF1B,#2B72DE,#C40010,#0046A8,#2B72DE"
                },
                "away": {
                    "id": 600,
                    "name": "Olympiakos",
                    "short_code": null,
                    "img": "https://cdn.soccersapi.com/images/soccer/teams/150/600.png",
                    "form": null,
                    "coach_id": 2823542,
                    "color": "#04614A",
                    "kit_colors": "#0A0A0A,#0C7662,#5B0623,#0A0A0A,#5C8FAE,#FFDF1B,#0A0A0A"
                }
            },
            "league": {
                "id": 291,
                "name": "1. Division",
                "type": "domestic",
                "country_id": 154,
                "country_name": "Cyprus",
                "country_flag": "https://cdn.soccersapi.com/images/countries/30/cy.png"
            },
            "scores": {
                "home_score": 1,
                "away_score": 1,
                "ht_score": "0-1",
                "ft_score": null,
                "et_score": null,
                "ps_score": null
            },
            "standings": {
                "home_position": 4,
                "away_position": 8
            },
            "assistants": {
                "first_assistant_id": null,
                "second_assistant_id": null,
                "fourth_assistant_id": null
            },
            "weather_report": null
        },
        {
            "id": 12019393,
            "status": 1,
            "pitch": null,
            "referee_id": null,
            "round_id": null,
            "season_id": 16728,
            "stage_id": 77446091,
            "group_id": null,
            "aggregate_id": 20961,
            "winner_team_id": null,
            "venue_id": 5315,
            "leg": "1/2",
            "deleted": false,
            "time": {
                "datetime": "2020-01-08 17:00:00",
                "date": "2020-01-08",
                "time": "17:00:00",
                "minute": 47,
                "timestamp": 1578502800,
                "timezone": "UTC"
            },
            "teams": {
                "home": {
                    "id": 8380,
                    "name": "Alki Oroklini",
                    "short_code": null,
                    "img": "https://cdn.soccersapi.com/images/soccer/teams/150/8380.png",
                    "form": null,
                    "coach_id": 466133,
                    "color": "#C40010",
                    "kit_colors": "#C40010,#C40010,#C40010,#00FFFF,#FF0000,#0000FF,#002B87"
                },
                "away": {
                    "id": 649,
                    "name": "AEL",
                    "short_code": null,
                    "img": "https://cdn.soccersapi.com/images/soccer/teams/150/649.png",
                    "form": null,
                    "coach_id": 26328662,
                    "color": "#EAEA15",
                    "kit_colors": "#FFDF1B,#000080,#FFDF1B,#FFDF1B,#C40010,#0046A8,#FFDF1B"
                }
            },
            "league": {
                "id": 297,
                "name": "Cyprus Cup",
                "type": "domestic_cup",
                "country_id": 154,
                "country_name": "Cyprus",
                "country_flag": "https://cdn.soccersapi.com/images/countries/30/cy.png"
            },
            "scores": {
                "home_score": 1,
                "away_score": 2,
                "ht_score": "1-2",
                "ft_score": null,
                "et_score": null,
                "ps_score": null
            },
            "standings": {
                "home_position": 2,
                "away_position": 1
            },
            "assistants": {
                "first_assistant_id": null,
                "second_assistant_id": null,
                "fourth_assistant_id": null
            },
            "weather_report": {
                "code": "rain",
                "type": "light intensity shower rain",
                "temperature": {
                    "fahrenheit": {
                        "temp": 52.29
                    },
                    "celcius": {
                        "temp": 11.3
                    }
                },
                "clouds": "40%",
                "humidity": "87%",
                "pressure": 1012,
                "wind": {
                    "speed": "11.41 m/s",
                    "degree": 340
                },
                "coordinates": {
                    "lat": 34.95,
                    "lon": 33.59
                },
                "updated_at": "2020-01-08T18:03:56.564285Z"
            }
        }


## Livescores Not Started  [/livescores{?user,token,t _____}]

The Livescores Not Started Endpoint gives you a list of matches will play today and have not started. (From the leagues available in your plan)

+ Parameters
    
    + user - YOUR USER
    + token - YOUR TOKEN
    + t - notstarted
    
 
### GET Livescores Not Started [GET]  


+ Request (application/json)

+ Response 200 (application/json)
 


    + Headers

            Location: /livescores
 
    
    + Body
    
 
        {
            "id": 11969343,
            "status": 0,
            "pitch": null,
            "referee_id": null,
            "round_id": 180690,
            "season_id": 16430,
            "stage_id": 77445244,
            "group_id": null,
            "aggregate_id": null,
            "winner_team_id": null,
            "venue_id": 19771,
            "leg": "1/1",
            "deleted": false,
            "time": {
                "datetime": "2019-12-31 11:45:00",
                "date": "2019-12-31",
                "time": "11:45:00",
                "minute": null,
                "timestamp": 1577792700,
                "timezone": "UTC"
            },
            "teams": {
                "home": {
                    "id": 234235,
                    "name": "Cova da Piedade U23",
                    "short_code": null,
                    "img": "https://cdn.soccersapi.com/images/soccer/teams/150/234235.png",
                    "form": null,
                    "coach_id": 37252548,
                    "color": null,
                    "kit_colors": null
                },
                "away": {
                    "id": 228776,
                    "name": "Estoril U23",
                    "short_code": null,
                    "img": "https://cdn.soccersapi.com/images/soccer/teams/150/228776.png",
                    "form": null,
                    "coach_id": 37252548,
                    "color": null,
                    "kit_colors": null
                }
            },
            "league": {
                "id": 1637,
                "name": "Liga Revelacao U23",
                "type": "domestic",
                "country_id": 58,
                "country_name": "Portugal",
                "country_flag": "https://cdn.soccersapi.com/images/countries/30/pt.png"
            },
            "scores": {
                "home_score": 0,
                "away_score": 0,
                "ht_score": null,
                "ft_score": null,
                "et_score": null,
                "ps_score": null
            },
            "standings": {
                "home_position": 10,
                "away_position": 4
            },
            "assistants": {
                "first_assistant_id": null,
                "second_assistant_id": null,
                "fourth_assistant_id": null
            },
            "weather_report": null
        },
        {
            "id": 11990685,
            "status": 0,
            "pitch": null,
            "referee_id": null,
            "round_id": 183014,
            "season_id": 16615,
            "stage_id": 77445772,
            "group_id": null,
            "aggregate_id": null,
            "winner_team_id": null,
            "venue_id": null,
            "leg": "1/1",
            "deleted": false,
            "time": {
                "datetime": "2019-12-31 12:00:00",
                "date": "2019-12-31",
                "time": "12:00:00",
                "minute": null,
                "timestamp": 1577793600,
                "timezone": "UTC"
            },
            "teams": {
                "home": {
                    "id": 229347,
                    "name": "Maccabi Nujeidat Ahmed",
                    "short_code": null,
                    "img": "https://cdn.soccersapi.com/images/soccer/teams/150/229347.png",
                    "form": null,
                    "coach_id": 37252548,
                    "color": null,
                    "kit_colors": null
                },
                "away": {
                    "id": 24222,
                    "name": "Hapoel Beit Shean",
                    "short_code": null,
                    "img": "https://cdn.soccersapi.com/images/soccer/teams/150/24222.png",
                    "form": null,
                    "coach_id": 37252548,
                    "color": null,
                    "kit_colors": null
                }
            },
            "league": {
                "id": 1636,
                "name": "Lig Bet",
                "type": "domestic",
                "country_id": 840,
                "country_name": "Israel",
                "country_flag": "https://cdn.soccersapi.com/images/countries/30/il.png"
            },
            "scores": {
                "home_score": 0,
                "away_score": 0,
                "ht_score": null,
                "ft_score": null,
                "et_score": null,
                "ps_score": null
            },
            "standings": {
                "home_position": 4,
                "away_position": 9
            },
            "assistants": {
                "first_assistant_id": null,
                "second_assistant_id": null,
                "fourth_assistant_id": null
            },
            "weather_report": null
        },
        {
            "id": 11990918,
            "status": 0,
            "pitch": null,
            "referee_id": null,
            "round_id": 183044,
            "season_id": 16615,
            "stage_id": 77445773,
            "group_id": null,
            "aggregate_id": null,
            "winner_team_id": null,
            "venue_id": null,
            "leg": "1/1",
            "deleted": false,
            "time": {
                "datetime": "2019-12-31 12:00:00",
                "date": "2019-12-31",
                "time": "12:00:00",
                "minute": null,
                "timestamp": 1577793600,
                "timezone": "UTC"
            },
            "teams": {
                "home": {
                    "id": 229342,
                    "name": "Beitar Nahariya",
                    "short_code": null,
                    "img": "https://cdn.soccersapi.com/images/soccer/teams/150/229342.png",
                    "form": null,
                    "coach_id": 37252548,
                    "color": null,
                    "kit_colors": null
                },
                "away": {
                    "id": 10661,
                    "name": "Maccabi Ma'alot Tarshiha",
                    "short_code": null,
                    "img": "https://cdn.soccersapi.com/images/soccer/teams/150/10661.png",
                    "form": null,
                    "coach_id": 1553215,
                    "color": null,
                    "kit_colors": null
                }
            },
            "league": {
                "id": 1636,
                "name": "Lig Bet",
                "type": "domestic",
                "country_id": 840,
                "country_name": "Israel",
                "country_flag": "https://cdn.soccersapi.com/images/countries/30/il.png"
            },
            "scores": {
                "home_score": 0,
                "away_score": 0,
                "ht_score": null,
                "ft_score": null,
                "et_score": null,
                "ps_score": null
            },
            "standings": {
                "home_position": 6,
                "away_position": 11
            },
            "assistants": {
                "first_assistant_id": null,
                "second_assistant_id": null,
                "fourth_assistant_id": null
            },
            "weather_report": null
        } 

## Livescores Ended  [/livescores{?user,token,t ______}]

+ Parameters
    
    + user - YOUR USER
    + token - YOUR TOKEN
    + t - ended
 
 
### GET Livescores Ended [GET] 


+ Request (application/json)

+ Response 200 (application/json)
 


    + Headers

            Location: /livescores
 
    
    + Body
    
 
        {
            "id": 12000318,
            "status": 3,
            "pitch": null,
            "referee_id": null,
            "round_id": 184196,
            "season_id": 16648,
            "stage_id": 77445844,
            "group_id": null,
            "aggregate_id": null,
            "winner_team_id": 229334,
            "venue_id": 368,
            "leg": "1/1",
            "deleted": false,
            "time": {
                "datetime": "2019-12-31 01:00:00",
                "date": "2019-12-31",
                "time": "01:00:00",
                "minute": 90,
                "timestamp": 1577754000,
                "timezone": "UTC"
            },
            "teams": {
                "home": {
                    "id": 1379,
                    "name": "UWI",
                    "short_code": null,
                    "img": "https://cdn.soccersapi.com/images/soccer/teams/150/1379.png",
                    "form": null,
                    "coach_id": 21394935,
                    "color": "#C40010",
                    "kit_colors": "#C40010,#C40010,#C40010,#00C1BA,#C40010,#0046A8,#C40010"
                },
                "away": {
                    "id": 229334,
                    "name": "Mount Pleasant Academy",
                    "short_code": null,
                    "img": "https://cdn.soccersapi.com/images/soccer/teams/150/229334.png",
                    "form": null,
                    "coach_id": 37326487,
                    "color": "#008000",
                    "kit_colors": "#008040,#008040,#D446BA,#00C1BA,#C40010,#0046A8,#0A0A0A"
                }
            },
            "league": {
                "id": 775,
                "name": "Premier League",
                "type": "domestic",
                "country_id": 1678,
                "country_name": "Jamaica",
                "country_flag": "https://cdn.soccersapi.com/images/countries/30/jm.png"
            },
            "scores": {
                "home_score": 0,
                "away_score": 3,
                "ht_score": "0-0",
                "ft_score": "0-3",
                "et_score": null,
                "ps_score": null
            },
            "standings": {
                "home_position": 11,
                "away_position": 2
            },
            "assistants": {
                "first_assistant_id": null,
                "second_assistant_id": null,
                "fourth_assistant_id": null
            },
            "weather_report": {
                "code": "clouds",
                "type": "few clouds",
                "temperature": {
                    "fahrenheit": {
                        "temp": 76.17
                    },
                    "celcius": {
                        "temp": 24.5
                    }
                },
                "clouds": "20%",
                "humidity": "78%",
                "pressure": 1014,
                "wind": {
                    "speed": "6.93 m/s",
                    "degree": 100
                },
                "coordinates": {
                    "lat": 17.97,
                    "lon": -76.79
                },
                "updated_at": "2019-12-31T02:45:02.826126Z"
            }
        },
        {
            "id": 11984619,
            "status": 3,
            "pitch": null,
            "referee_id": null,
            "round_id": 182371,
            "season_id": 16586,
            "stage_id": 77445671,
            "group_id": null,
            "aggregate_id": null,
            "winner_team_id": 338,
            "venue_id": 65,
            "leg": "1/1",
            "deleted": false,
            "time": {
                "datetime": "2019-12-31 08:00:00",
                "date": "2019-12-31",
                "time": "08:00:00",
                "minute": 90,
                "timestamp": 1577779200,
                "timezone": "UTC"
            },
            "teams": {
                "home": {
                    "id": 448,
                    "name": "Central Coast Mariners",
                    "short_code": null,
                    "img": "https://cdn.soccersapi.com/images/soccer/teams/150/448.png",
                    "form": null,
                    "coach_id": 32405422,
                    "color": "#FFDF1B",
                    "kit_colors": "#FFDF1B,#FFDF1B,#FFDF1B,#FFDF1B,#5C8FAE,#FFDF1B,#0046A8"
                },
                "away": {
                    "id": 338,
                    "name": "Perth Glory",
                    "short_code": null,
                    "img": "https://cdn.soccersapi.com/images/soccer/teams/150/338.png",
                    "form": null,
                    "coach_id": 896820,
                    "color": "#F0F0F0",
                    "kit_colors": "#F0F0F0,#F0F0F0,#F0F0F0,#F0F0F0,#C40010,#0046A8,#F0F0F0"
                }
            },
            "league": {
                "id": 1394,
                "name": "A-League",
                "type": "domestic",
                "country_id": 136,
                "country_name": "Australia",
                "country_flag": "https://cdn.soccersapi.com/images/countries/30/au.png"
            },
            "scores": {
                "home_score": 0,
                "away_score": 3,
                "ht_score": "0-1",
                "ft_score": "0-3",
                "et_score": null,
                "ps_score": null
            },
            "standings": {
                "home_position": 9,
                "away_position": 4
            },
            "assistants": {
                "first_assistant_id": null,
                "second_assistant_id": null,
                "fourth_assistant_id": null
            },
            "weather_report": {
                "code": "clouds",
                "type": "broken clouds",
                "temperature": {
                    "fahrenheit": {
                        "temp": 70.99
                    },
                    "celcius": {
                        "temp": 21.7
                    }
                },
                "clouds": "75%",
                "humidity": "60%",
                "pressure": 1011,
                "wind": {
                    "speed": "13.87 m/s",
                    "degree": 170
                },
                "coordinates": {
                    "lat": -33.43,
                    "lon": 151.34
                },
                "updated_at": "2019-12-31T10:00:04.610061Z"
            }
        } 
 
 
## Fixtures by Date  [/fixtures{?user,token,t,d,page}]

The Fixtures by Date Endpoint gives you fixtures from a specific date

+ Parameters
    
    + user - YOUR USER
    + token - YOUR TOKEN
    + t - schedule
    + d - YYY-MM-DD
    + page - PAGE NUMBER
   
 
    
    

### GET Fixtures by Date [GET] 


+ Request (application/json)

+ Response 200 (application/json)
 


    + Headers

            Location: /fixtures
 
    
    + Body
    
 
        {
            "id": 11979505,
            "status": 3,
            "pitch": null,
            "referee_id": 13638,
            "round_id": 181790,
            "season_id": 16556,
            "stage_id": 77445585,
            "group_id": null,
            "aggregate_id": null,
            "winner_team_id": 9934,
            "venue_id": 10100,
            "leg": "1/1",
            "deleted": false,
            "time": {
                "datetime": "2019-11-19 01:00:00",
                "date": "2019-11-19",
                "time": "01:00:00",
                "minute": 90,
                "timestamp": 1574125200,
                "timezone": "UTC"
            },
            "teams": {
                "home": {
                    "id": 14375,
                    "name": "Atletico Mitre",
                    "short_code": null,
                    "img": "https://cdn.soccersapi.com/images/soccer/teams/150/14375.png",
                    "form": null,
                    "coach_id": 37252548,
                    "color": "#EAEA15",
                    "kit_colors": "#0A0A0A,#FFDF1B,#D446BA,#00C1BA,#C40010,#0046A8,#0A0A0A"
                },
                "away": {
                    "id": 9934,
                    "name": "Platense",
                    "short_code": null,
                    "img": "https://cdn.soccersapi.com/images/soccer/teams/150/9934.png",
                    "form": null,
                    "coach_id": 1872620,
                    "color": "#D6003D",
                    "kit_colors": "#D6003D,#D6003D,#D6003D,#00FFFF,#FF0000,#0000FF,#3D4A4E"
                }
            },
            "league": {
                "id": 683,
                "name": "Primera B Nacional",
                "type": "domestic",
                "country_id": 82,
                "country_name": "Argentina",
                "country_flag": ""
            },
            "scores": {
                "home_score": 0,
                "away_score": 1,
                "ht_score": "0-0",
                "ft_score": "0-1",
                "et_score": null,
                "ps_score": null
            },
            "standings": {
                "home_position": 23,
                "away_position": 7
            },
            "assistants": {
                "first_assistant_id": null,
                "second_assistant_id": null,
                "fourth_assistant_id": null
            },
            "weather_report": {
                "code": "clouds",
                "type": "overcast clouds",
                "temperature": {
                    "fahrenheit": {
                        "temp": 79.11
                    },
                    "celcius": {
                        "temp": 26.2
                    }
                },
                "clouds": "100%",
                "humidity": "48%",
                "pressure": 1011,
                "wind": {
                    "speed": "5.17 m/s",
                    "degree": 107
                },
                "coordinates": {
                    "lat": -27.8,
                    "lon": -64.26
                },
                "updated_at": "2019-11-19T02:45:03.249207Z"
            }
        },
        {
            "id": 12002839,
            "status": 3,
            "pitch": null,
            "referee_id": 16068,
            "round_id": 184457,
            "season_id": 16686,
            "stage_id": 77445961,
            "group_id": 243267,
            "aggregate_id": null,
            "winner_team_id": null,
            "venue_id": 11258,
            "leg": "1/1",
            "deleted": false,
            "time": {
                "datetime": "2019-11-19 01:00:00",
                "date": "2019-11-19",
                "time": "01:00:00",
                "minute": 90,
                "timestamp": 1574125200,
                "timezone": "UTC"
            },
            "teams": {
                "home": {
                    "id": 18809,
                    "name": "Jamaica",
                    "short_code": "JAM",
                    "img": "https://cdn.soccersapi.com/images/soccer/teams/150/18809.png",
                    "form": null,
                    "coach_id": 474798,
                    "color": "#FFDF1B",
                    "kit_colors": "#FFDF1B,#FFDF1B,#FFDF1B,#00C1BA,#C40010,#0046A8,#0A0A0A"
                },
                "away": {
                    "id": 18915,
                    "name": "Guyana",
                    "short_code": "GUY",
[...]
