FORMAT: 1A
HOST: https://api.soccersapi.com/v2.2/

# soccersapi

SoccersAPI is a RESTful service for soccer data sport. It is a PAID service with low price (started with $30 per month). Note that in order to access Soccer's API you must purchase related packages. Please contact us if you have any problem.

## Countries [/countries]

### List All Countries [GET] 

+ Response 200 (application/json)

 
        {
            "id": 43482,
            "name": "Afghanistan",
            "continent": "Asia",
            "sub_region": "Southern Asia",
            "code": "af"
        },
        {
            "id": 2492,
            "name": "Albania",
            "continent": "Europe",
            "sub_region": "Southern Europe",
            "code": "al"
        },
        {
            "id": 652,
            "name": "Algeria",
            "continent": "Africa",
            "sub_region": "Northern Africa",
            "code": "dz"
        }
        
### Get country info by ID [GET]


+ Request (application/json)


+ Response 200 (application/json)

    + Headers

            Location: /countries

    + Body

            {
    "data": {
        "id": 43482,
        "name": "Afghanistan",
        "continent": "Asia",
        "sub_region": "Southern Asia",
        "long": "66.02528381347656",
        "lat": "33.833248138427734",
        "image": "/countries/43482.png"
    },
    "meta": {
        "requests_left": null,
        "user": "soccersapi1",
        "pages": 1,
        "page": 1
    }
}