FORMAT: 1A
HOST: https://api.soccersapi.com/v2.2/

# soccersapi

SoccersAPI is a RESTful service for soccer data sport. It is a PAID service with low price (started with $30 per month). Note that in order to access Soccer's API you must purchase related packages. Please contact us if you have any problem.

## Countries [/countries]

### List All Countries [GET]

+ Response 200 (application/json)

       {
    "data": [
        {
            "id": 43482,
            "name": "Afghanistan",
            "continent": "Asia",
            "sub_region": "Southern Asia",
            "code": "af"
        },
        {
            "id": 2492,
            "name": "Albania",
            "continent": "Europe",
            "sub_region": "Southern Europe",
            "code": "al"
        },
        {
            "id": 652,
            "name": "Algeria",
            "continent": "Africa",
            "sub_region": "Northern Africa",
            "code": "dz"
        },
        {
            "id": 909620,
            "name": "American Samoa",
            "continent": "Oceania",
            "sub_region": "Polynesia",
            "code": "as"
        },
        {
            "id": 2969,
            "name": "Andorra",
            "continent": "Europe",
            "sub_region": "Southern Europe",
            "code": "ad"
        },
        {
            "id": 949,
            "name": "Angola",
            "continent": "Africa",
            "sub_region": "Middle Africa",
            "code": "ao"
        },
        {
            "id": 870130,
            "name": "Anguilla",
            "continent": "Americas",
            "sub_region": "Caribbean",
            "code": "ai"
        },
        {
            "id": 137957,
            "name": "Antigua and Barbuda",
            "continent": "Americas",
            "sub_region": "Caribbean",
            "code": "ag"
        },
        {
            "id": 82,
            "name": "Argentina",
            "continent": "Americas",
            "sub_region": "South America",
            "code": "ar"
        },
        {
            "id": 957,
            "name": "Armenia",
            "continent": "Asia",
            "sub_region": "Western Asia",
            "code": "am"
        },
        {
            "id": 44607,
            "name": "Aruba",
            "continent": "Americas",
            "sub_region": "Caribbean",
            "code": "aw"
        },
        {
            "id": 11240976,
            "name": "Asia",
            "continent": "Asia",
            "sub_region": "",
            "code": null
        },
        {
            "id": 136,
            "name": "Australia",
            "continent": "Oceania",
            "sub_region": "Australia and New Zealand",
            "code": "au"
        },
        {
            "id": 181,
            "name": "Austria",
            "continent": "Europe",
            "sub_region": "Western Europe",
            "code": "at"
        },
        {
            "id": 2491,
            "name": "Azerbaijan",
            "continent": "Asia",
            "sub_region": "Western Asia",
            "code": "az"
        },
        {
            "id": 80957,
            "name": "Bahamas",
            "continent": "Americas",
            "sub_region": "Caribbean",
            "code": "bs"
        },
        {
            "id": 190359,
            "name": "Bahrain",
            "continent": "Asia",
            "sub_region": "Western Asia",
            "code": "bh"
        },
        {
            "id": 155081,
            "name": "Bangladesh",
            "continent": "Asia",
            "sub_region": "Southern Asia",
            "code": "bd"
        },
        {
            "id": 33535,
            "name": "Barbados",
            "continent": "Americas",
            "sub_region": "Caribbean",
            "code": "bb"
        },
        {
            "id": 250,
            "name": "Belarus",
            "continent": "Europe",
            "sub_region": "Eastern Europe",
            "code": "by"
        },
        {
            "id": 594,
            "name": "Belgium",
            "continent": "Europe",
            "sub_region": "Western Europe",
            "code": "be"
        },
        {
            "id": 144854,
            "name": "Belize",
            "continent": "Americas",
            "sub_region": "Central America",
            "code": "bz"
        },
        {
            "id": 7868,
            "name": "Benin",
            "continent": "Africa",
            "sub_region": "Western Africa",
            "code": "bj"
        },
        {
            "id": 15364,
            "name": "Bermuda",
            "continent": "Americas",
            "sub_region": "Northern America",
            "code": "bm"
        },
        {
            "id": 912025,
            "name": "Bhutan",
            "continent": "Asia",
            "sub_region": "Southern Asia",
            "code": "bt"
        },
        {
            "id": 7636,
            "name": "Bolivia",
            "continent": "Americas",
            "sub_region": "South America",
            "code": "bo"
        },
        {
            "id": 47367,
            "name": "Bonaire",
            "continent": "Americas",
            "sub_region": "Caribbean",
            "code": null
        },
        {
            "id": 545,
            "name": "Bosnia and Herzegovina",
            "continent": "Europe",
            "sub_region": "Southern Europe",
            "code": "ba"
        },
        {
            "id": 1133173,
            "name": "Bosnia-Herzegovina",
            "continent": "Europe",
            "sub_region": "Southern Europe",
            "code": null
        },
        {
            "id": 191076,
            "name": "Botswana",
            "continent": "Africa",
            "sub_region": "Southern Africa",
            "code": "bw"
        },
        {
            "id": 43,
            "name": "Brazil",
            "continent": "Americas",
            "sub_region": "South America",
            "code": "br"
        },
        {
            "id": 41340,
            "name": "British Virgin Islands",
            "continent": "Americas",
            "sub_region": "Caribbean",
            "code": "vg"
        },
        {
            "id": 913507,
            "name": "Brunei Darussalam",
            "continent": "Asia",
            "sub_region": "South-Eastern Asia",
            "code": null
        },
        {
            "id": 262,
            "name": "Bulgaria",
            "continent": "Europe",
            "sub_region": "Eastern Europe",
            "code": "bg"
        },
        {
            "id": 645,
            "name": "Burkina Faso",
            "continent": "Africa",
            "sub_region": "Western Africa",
            "code": "bf"
        },
        {
            "id": 859,
            "name": "Burundi",
            "continent": "Africa",
            "sub_region": "Eastern Africa",
            "code": "bi"
        },
        {
            "id": 909478,
            "name": "Cambodia",
            "continent": "Asia",
            "sub_region": "South-Eastern Asia",
            "code": "kh"
        },
        {
            "id": 631,
            "name": "Cameroon",
            "continent": "Africa",
            "sub_region": "Middle Africa",
            "code": "cm"
        },
        {
            "id": 1042,
            "name": "Canada",
            "continent": "Americas",
            "sub_region": "Northern America",
            "code": "ca"
        },
        {
            "id": 810,
            "name": "Cape Verde Islands",
            "continent": "Africa",
            "sub_region": "Western Africa",
            "code": null
        },
        {
            "id": 37566,
            "name": "Cayman Islands",
            "continent": "Americas",
            "sub_region": "Caribbean",
            "code": "ky"
        },
        {
            "id": 1285,
            "name": "Central African Republic",
            "continent": "Africa",
            "sub_region": "Middle Africa",
            "code": "cf"
        },
        {
            "id": 98837,
            "name": "Chad",
            "continent": "Africa",
            "sub_region": "Middle Africa",
            "code": "td"
        },
        {
            "id": 118,
            "name": "Chile",
            "continent": "Americas",
            "sub_region": "South America",
            "code": "cl"
        },
        {
            "id": 5656,
            "name": "China PR",
            "continent": "Asia",
            "sub_region": "Eastern Asia",
            "code": null
        },
        {
            "id": 213408,
            "name": "Chinese Taipei",
            "continent": "Asia",
            "sub_region": "Eastern Asia",
            "code": null
        },
        {
            "id": 391,
            "name": "Colombia",
            "continent": "Americas",
            "sub_region": "South America",
            "code": "co"
        },
        {
            "id": 364716,
            "name": "Comoros",
            "continent": "Africa",
            "sub_region": "Eastern Africa",
            "code": "km"
        },
        {
            "id": 1598,
            "name": "Congo",
            "continent": "Africa",
            "sub_region": "Middle Africa",
            "code": "cg"
        },
        {
            "id": 1358,
            "name": "Congo DR",
            "continent": "Africa",
            "sub_region": "Middle Africa",
            "code": null
        },
        {
            "id": 867686,
            "name": "Cook Islands",
            "continent": "Oceania",
            "sub_region": "Polynesia",
            "code": null
        },
        {
            "id": 1777,
            "name": "Costa Rica",
            "continent": "Americas",
            "sub_region": "Central America",
            "code": "cr"
        },
        {
            "id": 304,
            "name": "Croatia",
            "continent": "Europe",
            "sub_region": "Southern Europe",
            "code": "hr"
        },
        {
            "id": 63642,
            "name": "Cuba",
            "continent": "Americas",
            "sub_region": "Caribbean",
            "code": "cu"
        },
        {
            "id": 7475,
            "name": "Curaçao",
            "continent": "Americas",
            "sub_region": "Caribbean",
            "code": "cw"
        },
        {
            "id": 154,
            "name": "Cyprus",
            "continent": "Europe",
            "sub_region": "Eastern Europe",
            "code": "cy"
        },
        {
            "id": 283,
            "name": "Czech Republic",
            "continent": "Europe",
            "sub_region": "Eastern Europe",
            "code": "cz"
        },
        {
            "id": 358,
            "name": "Denmark",
            "continent": "Europe",
            "sub_region": "Northern Europe",
            "code": "dk"
        },
        {
            "id": 908821,
            "name": "Djibouti",
            "continent": "Africa",
            "sub_region": "Eastern Africa",
            "code": "dj"
        },
        {
            "id": 380193,
            "name": "Dominica",
            "continent": "Americas",
            "sub_region": "Caribbean",
            "code": "dm"
        },
        {
            "id": 79184,
            "name": "Dominican Republic",
            "continent": "Americas",
            "sub_region": "Caribbean",
            "code": "do"
        },
        {
            "id": 10203167,
            "name": "East Timor",
            "continent": "Asia",
            "sub_region": "South-Eastern Asia",
            "code": null
        },
        {
            "id": 497,
            "name": "Ecuador",
            "continent": "Americas",
            "sub_region": "South America",
            "code": "ec"
        },
        {
            "id": 924,
            "name": "Egypt",
            "continent": "Africa",
            "sub_region": "Northern Africa",
            "code": "eg"
        },
        {
            "id": 35046,
            "name": "El Salvador",
            "continent": "Americas",
            "sub_region": "Central America",
            "code": "sv"
        },
        {
            "id": 500,
            "name": "England",
            "continent": "Europe",
            "sub_region": "Northern Europe",
            "code": "gb"
        },
        {
            "id": 212013,
            "name": "Equatorial Guinea",
            "continent": "Africa",
            "sub_region": "Middle Africa",
            "code": "gq"
        },
        {
            "id": 43359,
            "name": "Eritrea",
            "continent": "Africa",
            "sub_region": "Eastern Africa",
            "code": "er"
        },
        {
            "id": 2443,
            "name": "Estonia",
            "continent": "Europe",
            "sub_region": "Northern Europe",
            "code": "ee"
        },
        {
            "id": 45021,
            "name": "Ethiopia",
            "continent": "Africa",
            "sub_region": "Eastern Africa",
            "code": "et"
        },
        {
            "id": 79,
            "name": "Europe",
            "continent": "Europe",
            "sub_region": "",
            "code": "eu"
        },
        {
            "id": 8151962,
            "name": "Europe",
            "continent": "Europe",
            "sub_region": "",
            "code": "eu"
        },
        {
            "id": 2192,
            "name": "Faroe Islands",
            "continent": "Europe",
            "sub_region": "Northern Europe",
            "code": "fo"
        },
        {
            "id": 867036,
            "name": "Fiji",
            "continent": "Oceania",
            "sub_region": "Melanesia",
            "code": "fj"
        },
        {
            "id": 1271,
            "name": "Finland",
            "continent": "Europe",
            "sub_region": "Northern Europe",
            "code": "fi"
        },
        {
            "id": 55,
            "name": "France",
            "continent": "Europe",
            "sub_region": "Western Europe",
            "code": "fr"
        },
        {
            "id": 3607,
            "name": "French Guiana",
            "continent": "Americas",
            "sub_region": "South America",
            "code": "gf"
        },
        {
            "id": 112,
            "name": "FYR Macedonia",
            "continent": "Europe",
            "sub_region": "Southern Europe",
            "code": "mk"
        },
        {
            "id": 3700,
            "name": "Gabon",
            "continent": "Africa",
            "sub_region": "Middle Africa",
            "code": "ga"
        },
        {
            "id": 2545,
            "name": "Gambia",
            "continent": "Africa",
            "sub_region": "Western Africa",
            "code": "gm"
        },
        {
            "id": 157,
            "name": "Georgia",
            "continent": "Asia",
            "sub_region": "Western Asia",
            "code": "ge"
        },
        {
            "id": 49,
            "name": "Germany",
            "continent": "Europe",
            "sub_region": "Western Europe",
            "code": "de"
        },
        {
            "id": 506,
            "name": "Ghana",
            "continent": "Africa",
            "sub_region": "Western Africa",
            "code": "gh"
        },
        {
            "id": 3412,
            "name": "Gibraltar",
            "continent": "Europe",
            "sub_region": "Southern Europe",
            "code": "gi"
        },
        {
            "id": 9374670,
            "name": "Great Britain",
            "continent": "",
            "sub_region": "",
            "code": null
        },
        {
            "id": 163,
            "name": "Greece",
            "continent": "Europe",
            "sub_region": "Southern Europe",
            "code": "gr"
        },
        {
            "id": 26871,
            "name": "Grenada",
            "continent": "Americas",
            "sub_region": "Caribbean",
            "code": "gd"
        },
        {
            "id": 3817,
            "name": "Guadeloupe",
            "continent": "Americas",
            "sub_region": "Caribbean",
            "code": "gp"
        },
        {
            "id": 910074,
            "name": "Guam",
            "continent": "Oceania",
            "sub_region": "Micronesia",
            "code": "gu"
        },
        {
            "id": 53166,
            "name": "Guatemala",
            "continent": "Americas",
            "sub_region": "Central America",
            "code": "gt"
        },
        {
            "id": 1885016,
            "name": "Guernsey",
            "continent": "",
            "sub_region": "",
            "code": "gg"
        },
        {
            "id": 1741,
            "name": "Guinea",
            "continent": "Africa",
            "sub_region": "Western Africa",
            "code": "gn"
        },
        {
            "id": 1745,
            "name": "Guinea-Bissau",
            "continent": "Africa",
            "sub_region": "Western Africa",
            "code": "gw"
        },
        {
            "id": 2023,
            "name": "Guyana",
            "continent": "Americas",
            "sub_region": "South America",
            "code": "gy"
        },
        {
            "id": 2215,
            "name": "Haiti",
            "continent": "Americas",
            "sub_region": "Caribbean",
            "code": "ht"
        },
        {
            "id": 1214,
            "name": "Honduras",
            "continent": "Americas",
            "sub_region": "Central America",
            "code": "hn"
        },
        {
            "id": 64344,
            "name": "Hong Kong",
            "continent": "Asia",
            "sub_region": "Eastern Asia",
            "code": "hk"
        },
        {
            "id": 712,
            "name": "Hungary",
            "continent": "Europe",
            "sub_region": "Eastern Europe",
            "code": "hu"
        },
        {
            "id": 1834,
            "name": "Iceland",
            "continent": "Europe",
            "sub_region": "Northern Europe",
            "code": "is"
        },
        {
            "id": 153770,
            "name": "India",
            "continent": "Asia",
            "sub_region": "Southern Asia",
            "code": "in"
        }
    ],
    "meta": {
        "requests_left": null,
        "user": "soccersapi1",
        "pages": 3,
        "page": 1
    }
}

### Create a New Question [POST]

You may create your own question using this action. It takes a JSON
object containing a question and a collection of answers in the
form of choices.

+ Request (application/json)



+ Response 201 (application/json)

    + Headers

            Location: /questions/2

    + Body

            {
                "question": "Favourite programming language?",
                "published_at": "2015-08-05T08:40:51.620Z",
                "choices": [
                    {
                        "choice": "Swift",
                        "votes": 0
                    }, {
                        "choice": "Python",
                        "votes": 0
                    }, {
                        "choice": "Objective-C",
                        "votes": 0
                    }, {
                        "choice": "Ruby",
                        "votes": 0
                    }
                ]
            }